<div class="chat-container">
	<div class="chat-messages" #scrollContainer>
		<div *ngFor="let message of messages"
			[ngClass]="{'message': true, 'user-message': message.isUser, 'bot-message': !message.isUser}">
			<div class="message-content">{{ message.content }}</div>
			<div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
		</div>

		<div class="is-typing-indicator" *ngIf="isWaitingForResponse">
			<p>Bot is responding</p>
			<div class="dots"></div>
		</div>
	</div>

	<div class="chat-input">
		<form (ngSubmit)="sendMessage()">
			<div class="input-container">
				<textarea #textarea autoresize autocomplete="off" [formControl]="messageInput" placeholder="Message ChatBot"
				(keydown.enter)="handleSendMessageByEnter($event)"></textarea>
				
				<button type="submit" [disabled]="!messageInput.value?.trim() || isWaitingForResponse">
					<svg viewBox="0 0 24 24" width="24" height="24">
						<path fill="currentColor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" />
					</svg>
				</button>
			</div>
		</form>
	</div>
</div>